@import './basic/base.css';
@import './basic/helpers.css';


@import './books/cmps/book-list.css';
@import './books/cmps/book-preview.css';
@import './books/cmps/review-form.css';
@import './books/cmps/reviews-list.css';
@import './books/cmps/book-add.css';


@import './notes/note-actions/note-tool-bar.css';
@import './notes/notes-cmps/note-add.css';
@import './notes/notes-cmps/note-app.css';
@import './notes/notes-cmps/note-todo.css';
@import './notes/notes-cmps/note-txt.css';

@import './emails/cmps/email-preview.css';
@import './emails/cmps/email-side-filter.css';
@import './emails/cmps/email-expand-preview..css';
@import './emails/cmps/email-list.css';
@import './emails/cmps/email-top-filter.css';

@import './books/views/book-app.css';
@import './books/views/book-details.css';
@import './books/views/book-filter.css';

@import './emails/views/email-compose.css';
@import './emails/views/email-app.css';
@import './emails/views/email-details.css';


@import './components/app-footer.css';
@import './components//user-msg.css';

@import './views/about-page.css';
@import './views/home-page.css';

@import './components/app-header.css';


:root {
    --clr-white: #fff;
    --clr-Black: #000;
}