.main {
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}

.note-app {
    background-image: url(/imgs/notep.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 5px 9px rgb(0 0 0 / 20%);
    max-height: calc(100vh - 100px);
    overflow: auto;
    text-align: center;
}

.note-body {
    background-color: rgba(239, 241, 244, 0.712);
    padding: 10px;
}

.note-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    padding: 10px 20px;
    height: 100vh;
}

.note {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(224, 126, 90);
    position: relative;
    min-height: 150px;
    padding: 38px 10px 5px 10px;
    margin-block-end: 20px;
    box-shadow: 0px 4px 10px -8px black;
    transition: 0.2s all ease-in-out;
    width: 50%;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* tool bar btns */
.action-btns {
    padding: 1em;
    position: absolute;
    bottom: 5px;
    display: inline-flex;
}

.action-btns .fa-solid {
    font-size: 1.3em;
    cursor: pointer;
    color: rgb(68, 66, 66);

}

.action-btns .fa-solid:hover {
    color: black;
}

.action-btns button {
    background-color: transparent;
    border: transparent;
}

/* color btn */


.color-palette {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 20px;
    left: 15px;
    border-radius: 3px;
    position: absolute;
    gap: 0.2rem;
    padding: 0.3rem;
    border-radius: 3px;
    z-index: 1;
    transition: opacity 0.3s;
    break-inside: avoid;
    background-color: rgba(225, 232, 237, 0.523);
}

.color-palette-btn {
    position: relative;
}

.color-palette div {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.color-palette div:hover {
    transform: scale(110%);
}

.add-note-form {
    padding: 2rem;
    background-color: grey;
    max-width: 90%;
}
.add-note-form input{
    padding: 2rem;
    width: 600px;
}

.add-note-form span {
    margin: 1rem;
}