.add-book-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.add-book-preview h3 {
    color: rgb(108, 107, 107);
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: lighter;
    cursor: pointer;
}

.add-book-preview h3:hover {
    color: rgb(75, 74, 74);
}

.search button {
    position: absolute;
    right: 0.6em;
    top: 21%;
    background-color: transparent;
    border: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(66, 66, 112);
}

.search button :hover {
    color: rgb(135, 135, 237);
}

.search {
    position: relative;
    align-items: center;
}

.search input {
    border-radius: 2rem;
    width: 60em;
    padding: 1.2em;
    border: transparent;
}