.books-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    text-align: center;
    gap: 0.3em;
}

.books-list,
.book-search {
    background-color: rgba(245, 244, 244, 0.982);
    border-radius: 1em;
    margin: 1em;
}