.home-img {
    background-image: url('../../imgs/home-imgs/homeeeee.avif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emails-img {
    background-image: url('../../imgs/home-imgs/emailhome.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: zoomout;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notes-img {
    background-image: url('../../imgs/home-imgs/noteshome.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-img {
    background-image: url('../../imgs/home-imgs/books-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.home-title h1,
.app-title h1 {
    font-size: 2em;
    margin: 0px;
}

.home-title {
    text-align: center;
    font-size: 2em;
    color: rgb(228, 230, 228);
    padding: 2rem;
    border-radius: 0.4rem;

}

.app-title {
    text-align: center;
    font-size: 2em;
    color: rgb(241, 237, 237);
    background-color: rgba(128, 128, 128, 0.502);
    padding: 1rem;
    border-radius: 0.4rem;
}

.app-title:first-of-type {
    margin-inline-end: 5rem;
}

.app-title:last-of-type {
    margin-inline-start: 5rem;
}

.app-title:hover {
    cursor: pointer;
}