/* .home-page {
    height: 90vh;
} */
.home-img {
    background-image: url('https://images.pexels.com/photos/247600/pexels-photo-247600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.emails-img {
    background-image: url('../../imgs/home-imgs/email-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notes-img {
    background-image: url('../../imgs/home-imgs/notes-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-img {
    background-image: url('../../imgs/home-imgs/books-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.home-title h1,
.app-title h1 {
    font-size: 2em;
    margin: 0px;
}

.home-title {
    text-align: center;
    font-size: 2em;
    color: rgb(213, 214, 213);
    padding: 2rem;
    border-radius: 0.4rem;

}

.app-title {
    text-align: center;
    font-size: 2em;
    color: rgb(241, 237, 237);
    background-color: rgba(128, 128, 128, 0.502);
    padding: 1rem;
    border-radius: 0.4rem;
}

.app-title:first-of-type {
    margin-inline-end: 5rem;
}

.app-title:last-of-type {
    margin-inline-start: 5rem;
}

.app-title:hover {
    cursor: pointer;
}