.txt-area {
    background-color: transparent;
    border: 2px dashed transparent;
    font-family: monospace;
    font-size: 1.5em;
}

.txt-area:hover {
    border: 2px dashed gray;
}

.todo-content {
    font-family: monospace;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

#checkbox:hover {
    opacity: 1;
}

#checkbox {
    cursor: pointer;
    width: 20px;
}

.todo-content input {
    position: relative;
    padding: 10px;
}

.checked {
    text-decoration: line-through;
}