.note-app {
    background-image: url(/imgs/note-imgs/notesApp.avif);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 5px 9px rgb(0 0 0 / 20%);
    text-align: center;
    height: 100%;
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 10px 20px;
}

.note {
    display: grid;
    width: 300px;
    border-radius: 1em;
    grid-template-rows: max-content 200px 1fr;
    box-shadow: 2px 5px 6px 0px #0000009e;
    font-family: monospace;
}

.pinned-line {
    display: flex;
    text-align: start;
    font-size: 1.9em;
    color: rgb(229, 174, 10);
    padding: 10px;
}

.note img {
    object-fit: cover;
    width: 85%;
    height: 100%;
}

.note-body {
    border-bottom: 1px solid rgba(171, 171, 171, 0.502);
}

.note-title {
    font-size: 1.5em;
    border-bottom: 1px solid rgba(171, 171, 171, 0.502);
}

.note-title .title-input {
    align-items: center;
}

.note-title input:hover {
    border: 2px dashed gray;
}

.note-title input {
    background-color: transparent;
    border: transparent;
    font-family: monospace;
    text-align: center;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    border: 2px dashed transparent;
}