.txt-area {
    background-color: transparent;
    border: 2px dashed transparent;
}

.txt-area:hover {
    border: 2px dashed gray;
}

.todo-content {
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.todo-content input {
    position: relative;
    padding: 10px;
}

.checked {
    text-decoration: line-through;
}