.add-note {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.add-note-form:hover {
    background-color: white;
    transition: 0.4s;
}

.add-note-form {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.172);
    border-radius: 10px;
    width: 41em;
    border: 1px solid rgb(82, 82, 82);
}

.add-note-form input {
    padding: 15px;
    font-size: 15px;
    width: 400px;
    background-color: transparent;
    border: 1px transparent;
}

.add-note-form span:hover {
    color: black;
}

.add-note-form span {
    color: rgb(214, 211, 211);
    margin: 1rem;
    cursor: pointer;
}

.add-note-form button:hover {
    color: black;
}

.add-note-form button {
    background-color: transparent;
    border: 1px transparent;
    text-decoration: underline;
    font-size: 1.2em;
    color: rgb(214, 211, 211);
}

.active i {
    color: black;
}