* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
}

.main-wrapper {
    height: 100%;
}

.main {
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}


html {
    font-family: sans-serif;
}

/* price colors */
.red {
    color: red;
}

.green {
    color: rgb(35, 171, 35);
}