.emails-app {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/916/683/non_2x/beautiful-blue-sky-background-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    box-shadow: inset 0px 3px 10px #000;
}


.email-preview {
    width: 100%;
}

.email-preview:hover {
    box-shadow: 4px 4px 10px #000;
}


.email-short-info p {
    display: table-cell;
    padding: 1rem;
}

.email-preview-shrink {
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.email-preview-shrink:hover {
    cursor: pointer;

}

/* .email-short-info p.time {

} */

.email-list {
    width: 100%;
    overflow-y: scroll;
}


.email-list::-webkit-scrollbar {
    background: rgba(128, 128, 128, 0.121);
    box-shadow: inset 0 0 5px grey;
}

.email-list::-webkit-scrollbar-thumb {
background-color: rgba(128, 128, 128, 0.498);   
 box-shadow: inset 0 0 5px grey;

}

.email-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.645);
}

.email-list table {
    margin: 1rem;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 2px 2px 5px #000;
}



.email-list tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    width: 100%;
}


.titles {
    background-color: grey;
    display: grid;
    grid-template-columns: 5% 10% 25% 40% 5% 10% 5%;
    align-items: center;
    padding: 2px;
    margin: 0;
    width: 100%;
    font-weight: bold;
}


.titles td img {
    height: 10px;
}

.titles td:hover {
    cursor: pointer;
}




td:first-of-type {
    padding: 10px;
    width: 5%;
}

td:nth-child(2) {
    width: 10%;
}

td:nth-child(3) {
    width: 25%;
}

td:nth-child(4) {
    width: 40%;
}

td:nth-child(5) {
    width: 10%;
}

td:last-of-type {
    width: 10%;
    text-align: right;
}

.starImp {
    color: grey;
}

.starImp-active {
    color: gold;
}

.starImp:hover {
    cursor: pointer;
    color: gold;
}

textarea:focus,
input:focus {
    outline: none;
}

.compose-container {
    position: fixed;
    bottom: 1rem;
    left: 11.6rem;
    width: 550px;
    height: 600px;
    padding: 1rem;
    transition: all 0.5s;
}

.compose-container button {
    margin: 1rem;
    background-color: #1a73e8;
    color: whitesmoke;
    border: 0;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
}

.compose-container button:hover {
    background-color: #5b96e2;
    cursor: pointer;
}

.compose-container input {
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.compose-container input:nth-child(2) {
    border: 0;
}

.compose-container textarea {
    resize: none;
    height: 400px;
    border: 0;
}

.compose-container h3 {
    color: var(--clr-white);
    font-weight: 400;
    padding: 0.3rem;
    font-size: 1.1rem;
    margin-bottom: 0px;
    margin-top: 0;
}


.compose-header {
    background-color: rgb(71, 70, 70);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    z-index: -100;
}

.compose-header:hover {
    cursor: pointer;
}

.compose-header .exit-compose {
    text-decoration: none;
    color: whitesmoke;
    margin-inline-end: 0.5rem;
    width: 20px;
    text-align: center;
}

.compose-header .exit-compose:hover {
    cursor: pointer;
    background-color: rgba(178, 190, 190, 0.40);
}

.minimaized:hover {
    cursor: pointer;
    background-color: rgba(178, 190, 190, 0.25);
}


.compose-actions {
    width: 8%;
    z-index: 100;
}



.compose-container form {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}


/* expand preview */
.email-expand-preview {
    width: 95%;
    margin: auto;
}

.expand-actions button img {
    width: 20px;
    margin: 0;
    padding: 0;
}

.expand-actions button {
    border: 0;
    background-color: grey;
    margin: 0.2rem;
    padding: 0.8rem;
    border-radius: 50%;
}

.expand-actions button:hover {
    background-color: rgba(128, 128, 128, 0.363);
    cursor: pointer;
}

.expand-header span {
    font-size: 2rem;
}

.userInfo {
    font-size: 0.8rem;
    font-weight: bold;
}

.userMail {
    color: grey;
}

.email-body-expand {
    max-width: 90%;
    margin: auto;
    padding: 1rem;
}







.email-red {
    background-color: rgba(128, 128, 128, 0.4);
}




/* details */

.email-details-full {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/916/683/non_2x/beautiful-blue-sky-background-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    box-shadow: inset 0px 3px 10px #000;
}

.details-info {
    position: relative;
    background-color: rgba(255, 255, 255, 0.90);
    max-width: 90%;
    height: 90%;
    margin: auto;
    box-shadow: 4px 4px 10px 0px #000;
    border-radius: 1rem;
    bottom: -5%;
}

.details-info span {
    font-size: 1.5rem;
}

.formatted-data {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    padding-left: 4rem;
}



.expand-actions {
    text-align: right;
    margin: 1rem;
}

.details-data .userName {
    font-size: 2rem;
    margin: 2rem;
}

.details-info span.details-subject {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    padding-top: 1rem;
    padding-left: 4.8rem;

}

.details-body {
    max-width: 85%;
    margin: auto;
    font-size: 2rem;
    line-height: 3rem;
}

.email-paging {
    max-width: 40%;
    align-items: center;
}

.next-email,
.prev-email {
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    background-color: rgb(107, 151, 169);
    font-size: 1.2rem;
    font-weight: bold;
}

.next-email:hover,
.prev-email:hover {
    background-color: rgba(107, 151, 169, 0.452);

}

.next-email {
    bottom: 1rem;
    right: 1rem;
}

.prev-email {
    bottom: 1rem;
    left: 1rem;
}


.email-settings {
    width: 500px;
    font-weight: bold;
}