.email-preview {
    width: 100%;
}

.email-preview:hover {
    box-shadow: 2px 2px 5px #000;
}

.email-short-info p {
    display: table-cell;
    padding: 1rem;
}

.email-preview-shrink {
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.email-preview-shrink:hover {
    cursor: pointer;
}

.starImp {
    color: grey;
}

.starImp-active {
    color: gold;
}

.starImp:hover {
    cursor: pointer;
    color: gold;
}