.email-preview {
    width: 100%;
}

.email-preview:hover {
    box-shadow: 4px 4px 10px #000;
}


.email-short-info p {
    display: table-cell;
    padding: 1rem;
}

.email-preview-shrink{
   border-top:1px solid rgba(128, 128, 128, 0.25) ;
}

/* .email-short-info p.time {

} */

.email-list {
    width: 100%;
}

.email-list table {
    margin: 1rem;
    width: 95%;

}

.email-list tbody {
    /* list-style: none; */
    box-shadow: 2px 2px 5px #000;
    padding: 0;
}

.email-list tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    width: 100% ;
}


td:first-of-type {
    padding: 10px;
    width: 5%;
}

td:nth-child(2) {
    width: 10%;
}

td:nth-child(3) {
    width: 25%;
}

td:nth-child(4) {
    width: 40%;
}

td:last-of-type {
    width: 10%;
    text-align: right;
}

.starImp:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.057);
    border-radius: 50%;
}

textarea:focus,
input:focus {
    outline: none;
}

.compose-container {
    position: fixed;
    bottom: 1rem;
    left: 3rem;
    width: 50%;
    height: 600px;
    padding: 1rem;
    transition: all 0.5s;
}

.compose-container button {
    margin: 1rem;
    background-color: #1a73e8;
    color: whitesmoke;
    border: 0;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
}

.compose-container button:hover {
    background-color: #5b96e2;
    cursor: pointer;
}

.compose-container input {
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.compose-container input:nth-child(2) {
    border: 0;
}

.compose-container textarea {
    resize: none;
    height: 400px;
    border: 0;
}

.compose-container h3 {
    color: var(--clr-white);
    font-weight: 400;
    padding: 0.3rem;
    font-size: 1.1rem;
    margin-bottom: 0px;
    margin-top: 0;
}


.compose-header {
    background-color: rgb(71, 70, 70);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    z-index: -100;
}

.compose-header:hover {
    cursor: pointer;
}

.compose-header .exit-compose {
    text-decoration: none;
    color: whitesmoke;
    margin-inline-end: 0.5rem;
    width: 20px;
    text-align: center;
}

.compose-header .exit-compose:hover {
    cursor: pointer;
    background-color: rgba(178, 190, 190, 0.40);
}

.minimaized:hover {
    cursor: pointer;
    background-color: rgba(178, 190, 190, 0.25);
}


.compose-actions {
    width: 8%;
    z-index: 100;
}



.compose-container form {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}