.email-preview {
    width: 100%;
}

.email-preview:hover {
    box-shadow: 2px 2px 5px #000;
}

.email-short-info p {
    display: table-cell;
    padding: 1rem;
}

.email-preview-shrink {
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.email-preview-shrink:hover {
    cursor: pointer;
}

.starImp {
    color: grey;
}

.starImp-active {
    color: gold;
}

.starImp:hover {
    cursor: pointer;
    color: gold;
}


/* labels */
td button.add-label {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

td button.add-label:hover {
    background-color: grey;
    border-radius: 50%;
}

td button.add-label img {
    width: 20px;
}

td.label-action{
    text-align: -webkit-center;
}


.label-preview{
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0px 0.5rem;
    text-align: center;
}