.email-side-filter {
    font-size: 1.2rem;
}

.tabs-nav {}

.add-compose-action {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    padding-inline-end: 1.2rem;
    margin: 1rem;
    margin-top: 6.5rem;
}


.add-compose-action:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.605)
}

.add-compose-action .plus {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    content: "";
    display: block;
    height: 48px;
    min-width: 56px;
}

.tab {
    display: flex;
    align-items: center;
    margin: 0;
    padding-inline-start: 1rem;
    font-size: 1.3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 0.6rem;
    color: white;
}

.tab:hover {
    background-color: rgba(221, 222, 233, 0.414);
    color: rgba(255, 255, 255, 0.338);
    cursor: pointer;
}

.active-tab {
    background-color: rgba(221, 222, 233, 0.414);
}

.unread-count{
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.icon {
    width: 20px;
    margin-inline-end: 1rem;
    margin-inline-start: 2rem;
}



/* top filter */
.email-top-filter{
    text-align: left;
    margin-bottom: 1rem;
}

.email-top-filter input {
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.206);
    font-size: 1.3rem;
    width: 94.5%;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all 0.5s;
}

.email-top-filter input:focus {
    outline: none;
    background-color: white;
}

.main-email-container {
    width: 100%;
}