.email-side-filter {
    font-size: 1.2rem;
}

.tabs-nav {}

.add-compose-action {
    display: flex;
    align-items: center;
    background-color: grey;
    color: black;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
}


.add-compose-action:hover {
    cursor: pointer;
    background-color: rgb(242, 233, 233);
}

.add-compose-action .plus {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    content: "";
    display: block;
    height: 48px;
    min-width: 56px;
}

.tab {
    margin:0;
    /* width: 9rem; */
    padding-inline-start: 1rem;
    font-size: 1.3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 0.6rem
}

.tab:hover {
    background-color: rgb(225, 226, 232);
    cursor: pointer;
}

.active-tab{
    background-color: rgb(197, 198, 213);
}

.icon {
    width: 20px;
    margin-inline-end: 1rem;
    margin-inline-start: 2rem;
}