.main-header img {
    height: 6vh;
    padding: 10px;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
}

.logo img {
    height: 5em;
    width: 5em;
    padding: 10px;
}

.main-header .nav-bar>* {
    margin: 10px;
}

.nav-header {
    position: absolute;
    right: 3.7rem;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.632);
    padding: 0.4rem;
    border-radius: 1rem;
    z-index: 10;
    transition: all 1s;
}

.nav-header button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: transparent;
    border: 0;
    transition: 0.4s;
}

.nav-header button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.nav-header button:not(:last-of-type) {
    border-bottom: 1px solid grey;
}

.menu-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 10vh;
    margin-right: 5em;
}

.menu-btn:hover {
    transform: scale(1.1);
}