.main-header img {
    height: 8vh;
    padding: 10px;
}

.main-header {
    /* position: fixed; */
    /* top: 0px; */
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.main-header .nav-bar>* {
    margin: 10px;
}