.screen {
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(76, 73, 73, 0.679);
    width: 100vw;
    height: 100%;
    /* z-index: -10; */
}

.screen:hover {
    cursor: pointer;
}